.container {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    flex-direction: column;
    background-color: rgb(141, 36, 194);
    border: 2px solid white;
    background-image: linear-gradient(to bottom, rgb(41, 143, 227), purple);
}

.volver{
    background-color: aliceblue;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    
}

.container p {
    text-transform: uppercase;
    margin: 15px;
    border-radius: 5px;
    color: aliceblue;
}

.container img {
    border-radius: 15px;
}